@page "/"
@namespace CA3.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />


<!DOCTYPE html>
<html>
  <head>
    <script src="~/script.js"></script>

    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="..\css\site.css" />
  </head>
  <body>


<script
      type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4B-c8-2EWEvKPbO5SxrbyALupsO7_SdM&callback=initMap&v=weekly&libraries=geometry,places"
></script>
  </body>
</html