@page "/"
@namespace CA3.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />

@* <head>
    <script src="~/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4B-c8-2EWEvKPbO5SxrbyALupsO7_SdM&callback=initMap"></script>
</head> *@
<!DOCTYPE html>
<html>
  <head>
    <script src="~/script.js"></script>

    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="EADCA3\CA3\wwwroot\css\site.css" />
  </head>
  <body>


    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4B-c8-2EWEvKPbO5SxrbyALupsO7_SdM&callback=initMap&libraries=places&v=weekly"
      async defer
    ></script>
  </body>
</html